
:root {
  --purple: rgb(158, 39, 154);
  --purple-highlight: rgb(221, 24, 215);
  --black-text: rgb(120, 120, 120);
  --blackest-text: rgb(54,54,54);
  --background: rgb(253, 253, 253);
}


body {
  height: 100vh;
  margin: 0;
  background-color: var(--background);
}

section {
  padding: 5rem 5rem;

  &:first-child {
      padding-top: 6rem;
  }
}

.contact {
  padding: 1rem 5rem;
  margin-bottom: 5rem;

  .button {
      padding: 0.6rem 1.2rem;
      text-decoration: none;
      border-radius: 5rem;
      border: 0.1rem solid var(--purple);
      color: var(--purple);
      font-family: 'Open-Sans', sans-serif;
      font-size: 0.8rem;
  }

  .button:hover {
    border-color: var(--purple-highlight);
    color: var(--purple-highlight);
  }
}


.big {
  color: var(--blackest-text);

  font-family: 'DM-Sans', sans-serif;
  font-size: 5rem;
  line-height: 4.2rem;
  font-weight: 400;
  letter-spacing: -0.3rem;
  text-transform: uppercase;
}

.small {
  margin-top: 2.5rem;
  color: var(--black-text);

  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.2rem;
  letter-spacing: -0.01rem;

  :last-child {
      margin-top: 1rem;
  }
}

a {
  text-decoration: none;
  font-weight: 600;
  color: var(--purple);
}

a:hover {
  color: var(--purple-highlight);
}

/* On mobile, reduce margins and fontsize */
  
@media only screen and (max-width : 768px) {
  section {
      padding-left: 2rem;
  }

  .contact {
      padding-left: 2rem;
  }

  .big {
      font-size: 3.2rem;
      line-height: 2.8rem;
      letter-spacing: -0.2rem;
  }
}